


.button {
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
    background-color: #5964E0;
    border: none;
    border-radius: 6px;
}

.button:hover {
    background-color: #939BF4;
}