.jobdescription {
    width: 730px;
    margin: 0px auto;
}





.jobdescription-header {
    width: 100%;
    height: 140px;
    background-color: white;
    border-radius: 6px;
    overflow: hidden;
}