.jobs{
  width: 100%;
}


.jobs-cardlist {
  align-self: center;
  padding: 0px;
  display: grid;
  grid-template-rows: repeat( auto-fill, 253px);
  justify-content: space-between;
  grid-column-end: auto;
  gap: 40px 11px;
  margin-bottom: 56px;
  }


.jobs-card {
  list-style-type: none;
}

@media (min-width:1440px){
  .jobs-cardlist {
    width: 1110px;
    grid-template-columns: repeat(auto-fill,350px);
  }
}

@media (max-width: 1439px) and (min-width:767px){
  .jobs-cardlist {
    width: 689px;
    grid-template-columns: repeat(auto-fill,339px);
  }
}


@media screen and (max-width: 767px){
  .jobs-cardlist {
    width: 327px;
    grid-template-columns: repeat(auto-fill,327px);
  }
    section > .jobs-cardlist {
      justify-content: center;
    }
}