

.search-bar {
    display: grid;
    margin: auto;
    grid-template-columns: 35% 30% auto;
    width: 1110px;
    background-color: white;
    border-radius: 6px;
    padding: 0px 15px;
    gap: 20px;
}
.full-time {
    gap: 5px;
}
.search {
    white-space: nowrap;
}

.checkbox {
}