

.search-bar {
    display: grid;
    margin: auto;
    grid-template-columns: 35% 30% auto;
    width: 100%;
    background-color: white;
    border-radius: 6px;
    padding: 0px 15px;
    gap: 20px;
}
.full-time {
    gap: 5px;
}
.search {
    white-space: nowrap;
}

.checkbox:hover {
    bakground-color: #939BF4;
}

.checkbox:checked {
    background-color: #9e7f66;
}