.searchbar {
    display: grid;
    overflow: hidden;
    width: 100%;
    border-radius: 6px;
    padding: 0px 0px;
    gap: 1.7%;
    margin-bottom: 80px;
}

.searchbar > div {
    padding-left: 4%;
}
.searchbar-full-time {
    gap: 30%;
}

.searchbar-ft-text {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.searchbar-search {
    gap: 8%;
    padding-left: 5%;
    padding-right: 5%;
    white-space: nowrap;
}

.searchbar-checkbox {
    overflow: hidden;
    width: 22px;
    height: 22px;
    margin: 0px;
    flex-shrink: 0;
    border-radius: 3px;
}

.searchbar-checkbox::before {
    content:"";
    display: block;
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 3px;
}

.searchbar-checkbox::after {
    content:"";
    display: block;
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 3px;
}

.searchbar-checkbox:checked {
    width: 22px;
    height: 22px;
    margin: 0px;
    flex-shrink: 0;
    accent-color: #5964E0;
}

.day {
    color: #19202D;
    background-color: white;

    & .searchbar-checkbox::before {
        background-color: #E7E8E9;
    }

    & .searchbar-checkbox:checked::before {
        opacity: 0;
    }

    & .searchbar-checkbox:checked::after {
        opacity: 0;
    }

    & .searchbar-checkbox:hover:after {
        background-color: #D6D8F8;
    }
}

.night {
    color: white;
    background-color: #19202D;

    & .searchbar-checkbox::before {
        background-color: #323743;
    }

    & .searchbar-checkbox:checked::before {
        opacity: 0;
    }

    & .searchbar-checkbox:checked::after {
        opacity: 0;
    }
    & .searchbar-checkbox:hover:after {
        background-color: #6A6E76;
    }
}

@media (min-width:1440px){
    .searchbar {
        grid-template-columns: auto auto 35%;
        margin-bottom: 80px;
    }

    .searchbar-search {
        gap: 8%;
        white-space: nowrap;
    }

    .searchbar-full-time-container {
        gap: 55%;
    }

}

@media (max-width: 1439px) and (min-width: 767px){
    .searchbar {
        grid-template-columns: auto auto 45%;
        margin-bottom: 48px;
    }

    .searchbar-search {
        gap: 8%;
        white-space: nowrap;
    }

    .searchbar-full-time-container {
        gap: 40%;
    }
  }
  
  
  @media screen and (max-width: 767px){
    .searchbar {
        grid-template-columns: auto 45%;
        margin-bottom: 32px;
    }

    .searchbar-search {
        gap: 25%;
        white-space: nowrap;
    }

    .searchbar-full-time-container {
        gap: 20%;
    }
  }
