
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    background-size: 100% 100%;
}
.header-content {
    width: 100%;
    transition: all 1s ease;
    padding-bottom: 41px;
}

.header-title {
    text-align: center;
    color: white;
}

@media (min-width:1440px){
    .header-content {
      width: 1110px;
    }
  }
  
  
@media (max-width: 1439px) and (min-width:767px){
    .header-content {
      width: 698px;
    }
  }
  
@media (max-width: 767px){
    .header-content {
      width: 327px;
    }
  }