html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  width: 100%;
}

h4 {
  color: #5964E0;
}

#root{
  height: 100%;
  width: 100%;
}

.app {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 0;
  height: 100%;
  width: 100%;
  background-color: #F2F2F2;
}

.blur {
  filter: blur(2px) brightness(0.6)
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-start {
  justify-content: start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.app-content {
  margin: 0px auto;
  padding: 4.5% 0%;
  transition: all 1s ease;
}

@media (min-width:1440px){
  .app-content {
    width: 1110px;
    margin-top: -6.0%;
  }
}


@media (max-width: 1439px) and (min-width:767px){
  .app-content {
    width: 689px;
    margin-top: -7.5%;
  }
}

@media (max-width: 767px){
  .app-content {
    width: 327px;
    margin-top: -9.5%;
  }

}

@media (min-width: 1857px){
  body {
    height: 1350px;
  }
}


@media (min-width: 1155px){
  body {
    height: 1850px;
  }
}

@media (max-width: 1155px) and (min-width:762px){
  body {
    height: 2750px;
  }
}

@media (max-width: 762px) {
  body {
    height: 4750px;
  }
}